@font-face {
  font-family: "Alpina";
  src: url("/fonts/gt-alpina/GT-Alpina-Standard-Light.woff2") format("woff2"),
  url("/fonts/gt-alpina/GT-Alpina-Standard-Light.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Athletics";
  src: url("/fonts/athletics/Athletics-ExtraBold.woff2") format("woff2"),
  url("/fonts/athletics/Athletics-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "ModernEra";
  src: url("/fonts/modern-era/ModernEra-Regular.woff2") format("woff2"),
  url("/fonts/modern-era/ModernEra-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "ModernEra";
  src: url("/fonts/modern-era/ModernEra-Bold.woff2") format("woff2"),
  url("/fonts/modern-era/ModernEra-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "ModernEraMono";
  src: url("/fonts/modern-era-mono/ModernEraMono-Medium.woff2") format("woff2"),
  url("/fonts/modern-era-mono/ModernEraMono-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
